@font-face {
  font-family: 'Times Ten';
  src: url(../fonts/TimesTenLTStd-Roman.otf);
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: 'Times Ten';
  src: url(../fonts/TimesTenLTStd-Bold.otf);
  font-display: swap;
  font-weight: bold;
}

@font-face {
  font-family: 'Times Ten';
  src: url(../fonts/TimesTenLTStd-BoldItalic.otf);
  font-display: swap;
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Times Ten';
  src: url(../fonts/TimesTenLTStd-Italic.otf);
  font-display: swap;
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url(../fonts/NeueMontreal-Bold.otf);
  font-display: swap;
  font-weight: bold;
}

@font-face {
  font-family: 'Sohn';
  src: url(../fonts/Sohn.otf);
  font-display: swap;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: 'Times Ten', serif;
  --secondary-font: 'Helvetica Neue', sans-serif;
  --tertiary-font: 'Sohn', sans-serif;
  --primary-color: #000000;
  --accent-color: #0706fe;
  --background-color: #a4ff00;
  --plain-color: #ffffff;
  --page-width: clamp(200px, 94vw, 1800px);
  --auto-margin: 0 auto;
  --spacing-xs: 8px;
  --spacing-sm: 20px;
  --spacing-md: 40px;
  --spacing-lg: 60px;
  --spacing-xl: calc(85px + 4vw);
}

html {
  font-size: 16px;
}

main {
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --spacing-xs: 4px;
    --spacing-sm: 10px;
    --spacing-md: 20px;
    --spacing-lg: 30px;
    --spacing-xl: 45px;
  }

  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  :root {
    --spacing-xs: 2px;
    --spacing-sm: 5px;
    --spacing-md: 12px;
    --spacing-lg: 24px;
    --spacing-xl: 45px;
  }

  html {
    font-size: 11px;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 600ms;
}

a:hover,
.header-button:hover {
  color: var(--accent-color);
  transition: all 600ms;
}

.performance-tile:hover .tile-location,
.performance-tile:hover .tile-time-price-item,
.performance-tile:hover .tile-time-price {
  border-color: var(--accent-color);
}

.performance-image-container {
  width: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--accent-color);
  opacity: 0;
  transition: all 600ms;
}

a:hover .overlay,
.performance-tile:hover .overlay {
  opacity: 1;
  transition: all 600ms;
}

.performance-tile .performance-tile-image {
  transition: all 600ms;
}

a:hover .artist-item-image,
.performance-tile:hover .performance-tile-image {
  filter: grayscale(100%);
  mix-blend-mode: screen;
  transition: all 600ms;
}

.performance-tile:hover {
  color: var(--accent-color);
}

h1 {
  color: var(--accent-color);
}

h2,
h3,
h4 {
  font-family: var(--secondary-font);
  color: var(--accent-color);
  padding: var(--spacing-sm) 0;
}

h3 {
  font-size: calc(1rem + 0.75vw);
}

h2 {
  font-size: calc(1rem + 1.5vw);
}

.main {
  min-height: 100vh;
  font-family: var(--primary-font);
}

.primary-button,
.tertiary-button {
  display: inline-block;
  text-transform: uppercase;
  color: var(--accent-color);
  background: var(--background-color);
  font-family: var(--secondary-font);
  border-radius: 8px;
  padding: var(--spacing-xs) var(--spacing-sm);
  margin-bottom: var(--spacing-md);
}

.tertiary-button {
  background: var(--plain-color);
  border: 1px solid var(--accent-color);
}

.tertiary-font {
  font-family: var(--tertiary-font);
}

.secondary-button {
  display: inline-flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--plain-color);
  background: var(--accent-color);
  border: 1px solid var(--accent-color);
  font-family: var(--secondary-font);
  padding: var(--spacing-xs) var(--spacing-sm);
  margin-bottom: var(--spacing-md);
  transition: all 600ms;
  font-size: 1rem;
}

.secondary-button:hover {
  color: var(--accent-color);
  background: var(--background-color);
  transition: all 600ms;
}

.center {
  justify-content: center;
  align-items: center;
}

.lofty {
  line-height: 1.35;
}

.image {
  min-height: 100%;
  min-width: 100%;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

.underline {
  text-decoration: underline;
}

.page-container {
  width: var(--page-width);
  margin: var(--auto-margin);
}

.page-heading {
  text-transform: uppercase;
  font-family: var(--primary-font);
  margin-top: 8vw;
  text-align: center;
  padding: var(--spacing-lg) 0;
  position: relative;
  z-index: -1;
}

.flex-container {
  width: 100%;
  display: flex;
}

.left-container {
  width: 30%;
  padding-right: 2%;
}

.left-container > div {
  margin-bottom: var(--spacing-md);
}

.right-container {
  width: 70%;
  padding-left: 2%;
}

.text-field-text p {
  margin-bottom: var(--spacing-sm);
}

.info-text {
  font-family: 'Neue Montreal', sans-serif;
  font-weight: bold;
  font-size: calc(14px + 1vw);
}

.info-right {
  font-family: 'Sohn', sans-serif;
  font-size: calc(14px + 0.5vw);
}

.marquee-item {
  color: var(--background-color);
  margin: 0 8vw;
  font-family: 'Times Ten', serif;
  font-size: calc(1rem + 1.5vw);
  transform: scaleY(1.5) translateY(10%);
}

.word-marquee {
  background-color: var(--accent-color);
  padding: var(--spacing-md);
}

.inverse {
  color: var(--accent-color);
  background: var(--background-color);
}

.header .marquee-item {
  color: var(--background-color);
  margin: 0 30px;
  font-family: var(--tertiary-font);
  font-size: clamp(8px, 65%, 24px);
}

.header {
  padding: var(--spacing-xs);
  padding-bottom: calc(var(--spacing-xs) + 4px);
  border: 2px solid #000;
  border-top: none;
}

/*
-----------
Header
-----------
*/

.header-container {
  position: fixed;
  top: 3vw;
  left: 3vw;
  font-family: var(--tertiary-font);
  z-index: 1000;
  width: clamp(350px, 94vw, 675px);
}

.hamburger-container {
  transition: all 600ms;
}

.hamburger-container:hover {
  background: var(--accent-color);
  transition: all 600ms;
}

#navIcon {
  width: 22px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#navIcon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000000;
  opacity: 1;
  left: 0;
  top: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#navIcon:hover span {
  background: var(--background-color);
  transition: all 600ms;
}

#navIcon span:nth-child(1) {
  top: 6px;
}

#navIcon span:nth-child(2),
#navIcon span:nth-child(3) {
  top: 14px;
}

#navIcon span:nth-child(4) {
  top: 22px;
}

#navIcon.open span:nth-child(1) {
  top: 1rem;
  width: 0%;
  left: 50%;
}

#navIcon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#navIcon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#navIcon.open span:nth-child(4) {
  top: 1rem;
  width: 0%;
  left: 50%;
}

.header-main {
  background: var(--background-color);
  display: flex;
  align-items: stretch;
  border-width: 2px 0 0 2px;
  height: 50px;
}

.header-main,
.header-main > div {
  border-style: solid;
  border-color: #000000;
}

.header-main > div {
  border-width: 0 2px 2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-sm);
  flex-grow: 1;
  white-space: nowrap;
}

.header-logo-container {
  transition: all 600ms;
}

.header-logo-container:hover {
  background: var(--accent-color);
  transition: all 600ms;
}

.header-logo-container svg {
  min-width: 120px;
  transition: all 600ms;
}

.header-logo-container:hover svg {
  fill: var(--background-color);
  transition: all 600ms;
}

.header-logo-link {
  display: flex;
  justify-content: center;
  height: 75%;
  width: 100%;
  transition: all 600ms;
}

.header-logo {
  height: 100%;
}

.broadcast-link {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
}

.header-view-icon {
  height: 1rem;
  width: 1rem;
}

.header-weather {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-menu {
  display: flex;
  flex-direction: column;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 600ms;
  height: 0;
}

.secondary-menu a,
.header-button {
  padding: var(--spacing-xs);
  background: var(--plain-color);
  border: 2px solid #000000;
  border-top: none;
  font-family: var(--tertiary-font);
  text-transform: uppercase;
  text-align: left;
  transition: all 600ms;
}

.secondary-menu a:hover,
.header-button:hover {
  background: var(--accent-color);
  color: var(--background-color);
  transition: all 600ms;
}

.secondary-show {
  transform: scaleY(100%);
  transform-origin: top;
  transition: all 600ms;
}

@media screen and (max-width: 700px) {
  .page-heading {
    margin-top: 12vw;
  }

  .header-main {
    height: 30px;
    width: 94vw;
    border-width: 1px 0 0 1px;
  }

  .header-main > div {
    border-width: 0 1px 1px 0;
    padding: 0 var(--spacing-sm);
    flex-grow: 1;
  }

  #navIcon {
    width: 18px;
    height: 18px;
  }

  #navIcon span:nth-child(1) {
    top: 2px;
  }

  #navIcon span:nth-child(2),
  #navIcon span:nth-child(3) {
    top: 8px;
  }

  #navIcon span:nth-child(4) {
    top: 14px;
  }

  #navIcon.open span:nth-child(1) {
    top: 16px;
  }

  .secondary-menu a,
  .header-button {
    border: 1px solid #000;
    border-top: none;
  }

  .header {
    border: 1px solid #000;
    border-top: none;
  }
}

/*
--------
Loader
--------
*/

.lds-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 4px solid var(--accent-color);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--accent-color) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
-----------
Footer
-----------
*/

.footer-container {
  color: var(--accent-color);
  margin-top: var(--spacing-md);
}

.footer-row {
  display: flex;
  padding: 3vw;
  width: 100%;
  gap: 3vw;
}

.footer-top-item {
  width: 50%;
  font-family: var(--secondary-font);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-sm);
  line-height: 1.5;
}

.footer-top-item p {
  display: block;
}

.footer-top-item .secondary-button {
  margin-bottom: 0;
  height: 50px;
}

.footer-bang-blue {
  width: 100%;
}

.email-input-form-container {
  width: 100%;
}

.email-input-container {
  width: 100%;
  display: flex;
}

.email-input {
  flex-grow: 1;
  display: inline-block;
  text-transform: uppercase;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  font-family: var(--secondary-font);
  padding: var(--spacing-xs);
  font-size: 1rem;
}

.email-input::placeholder {
  color: var(--accent-color);
}

.custom-form,
.sign-up {
  width: 100%;
}

.mailchimp-success {
  background-color: var(--accent-color);
  color: var(--background-color);
  padding: var(--spacing-xs);
  margin-bottom: var(--spacing-md);
  text-align: center;
  text-transform: uppercase;
}

.footer-credits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  color: #fff;
  font-family: var(--secondary-font);
}

.footer-bottom-row {
  display: flex;
  padding: 3vw;
  flex-wrap: wrap;
}

.footer-bottom-row h4 {
  padding: 0;
  font-size: calc(1rem + 0.25vw);
}

.footer-bottom-item {
  width: 25%;
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-md);
}

.footer-links-container {
  display: flex;
  padding-top: 0.5vw;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.footer-logo-container {
  width: clamp(100px, 30%, 300px);
}

.pacific-credit {
  display: block;
  margin-left: 3vw;
}

@media screen and (max-width: 820px) {
  .footer-bottom-item {
    gap: var(--spacing-sm);
  }

  .footer-bang-container {
    width: 20%;
  }
}

@media screen and (max-width: 600px) {
  .footer-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw;
    width: 100%;
  }

  .footer-top-item {
    width: 100%;
    padding-left: 0;
    justify-content: center;
    text-align: center;
    margin-bottom: var(--spacing-md);
  }

  .footer-bang-container {
    width: 30%;
    margin-bottom: var(--spacing-md);
  }

  .footer-bang-blue {
    width: 100%;
  }

  .footer-bottom-item {
    width: 50%;
    justify-content: space-between;
  }

  .footer-bottom-item h4 {
    width: 50%;
  }

  .footer-links-container {
    width: 50%;
    margin-bottom: var(--spacing-lg);
  }

  .footer-links-container button {
    text-align: left;
  }
}

/*
--------
Performance Page
--------
*/

.performance-hero-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: var(--spacing-md);
}

.performance-hero-text {
  position: absolute;
  left: 3vw;
  bottom: 3vw;
  width: 60%;
}

.light-text,
.light-text h2 {
  color: #fff;
}

.dark-text,
.dark-text h2 {
  color: #000;
}

.performance-hero-text h2 {
  font-family: var(--primary-font);
  font-size: calc(1rem + 3vw);
}

.performance-hero-text p {
  margin-bottom: var(--spacing-md);
  line-height: 1.25;
  font-size: calc(1rem + 0.35vw);
}

.hero-artist-container h2 {
  display: inline;
}

.hero-artist-container h2::after {
  content: ', ';
}

.hero-artist-container h2:last-of-type:after {
  content: '';
}

.performance-ticket-grid {
  display: flex;
  flex-direction: column;
  border: solid 1px #000000;
  border-width: 1px 0 0 1px;
  font-family: var(--tertiary-font);
  text-transform: uppercase;
}

.performance-ticket-header,
.performance-date-row {
  display: flex;
  width: 100%;
  transition: all 600ms;
}

.performance-ticket-header > div {
  border: 1px solid #fff;
  border-width: 0 1px 1px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs);
  background: #000000;
  color: #fff;
}

.performance-ticket-header > div.left-column {
  width: 60%;
}

.performance-ticket-header > div.right-column {
  width: 40%;
}

.performance-ticket-header > div:last-of-type {
  border-right: 1px solid #000000;
}

.performance-date-row > p {
  border: 1px solid #000000;
  border-width: 0 1px 1px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-xs);
}

.performance-date-row > p.left-column {
  width: 60%;
}

.performance-date-row > p.full-column {
  width: 100%;
}

.performance-date-row > p.right-column {
  width: 40%;
  gap: var(--spacing-xs);
}

.performance-date-row:hover {
  background: var(--accent-color);
  color: var(--background-color);
  transition: all 600ms;
}

.performance-location {
  font-family: var(--secondary-font);
}

.performance-location-link {
  font-size: 80%;
  opacity: 0.5;
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  margin-top: var(--spacing-xs);
  transition: all 600ms;
  margin-bottom: var(--spacing-md);
}

.performance-location-link span {
  text-decoration: underline;
}

.performance-location-link:hover {
  opacity: 1;
  transition: all 600ms;
}

.supporter-logo-container {
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
  flex-wrap: wrap;
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}

.supporter-logo {
  width: calc(20% - var(--spacing-sm));
  height: fit-content;
}

.performance-ticket-btn-container {
  margin: var(--spacing-sm) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.press-container {
  font-family: var(--secondary-font);
}

.press-pdf-container {
  margin-top: var(--spacing-sm);
  margin-bottom: var(--spacing-lg);
}

.press-pdf-container a {
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  .flex-container {
    flex-direction: column;
  }

  .left-container,
  .right-container {
    width: 100%;
  }

  .right-container {
    padding-left: 0;
  }

  .mobile-full-width {
    width: 100%;
  }
}

/*
---------
HOME
---------
*/

.home-slider-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.home-slide-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.home-slide-image {
  width: 100%;
  height: 100%;
}

.home-slider-text {
  position: absolute;
  left: 3vw;
  bottom: 3vw;
  z-index: 100;
}

.hero-svg {
  stroke: #000;
  stroke-width: 2;
  height: 100%;
  width: 100%;
  transition: all 600ms;
}

.prev-button,
.next-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 900;
  border: 2px solid #000;
  background: var(--background-color);
  transition: all 600ms;
}

.prev-button:hover,
.next-button:hover {
  background: var(--accent-color);
  transition: all 600ms;
}

.prev-button:hover .hero-svg,
.next-button:hover .hero-svg {
  stroke: var(--background-color);
  transition: all 600ms;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.slider-logo {
  position: absolute;
  z-index: 100;
  left: 3vw;
  top: calc(3vw + 60px);
  width: 590px;
  max-width: 94vw;
}

.home-hub-container {
  padding: var(--spacing-md) 0;
}
.home-hub {
  text-transform: uppercase;
  font-family: var(--primary-font);
  text-align: center;
  font-size: 11.5vw;
  transform: scaleY(2) translateY(10%);
}

.home-hub-description {
  font-family: var(--secondary-font);
  padding: var(--spacing-md) 0;
  font-size: calc(1rem + 1vw);
  line-height: 1.35;
  font-weight: 600;
}

.home-hub-locations {
  display: flex;
  font-family: var(--secondary-font);
  margin-bottom: var(--spacing-lg);
}

.home-hub-locations > div {
  width: 33%;
}

.home-hub-locations p {
  margin-bottom: var(--spacing-md);
}

.home-hub-location-item {
  margin-bottom: var(--spacing-lg);
}

.calendar-title {
  text-transform: uppercase;
  font-family: var(--primary-font);
  text-align: center;
  font-size: 9.25vw;
  transform: scaleY(2) translateY(10%);
  padding: var(--spacing-lg) 0;
  position: relative;
  z-index: -1;
}

.filter-container {
  margin: var(--spacing-md) 0;
  display: flex;
  border: 1px solid #000000;
  border-width: 1px 0 0 1px;
  font-family: var(--tertiary-font);
}

.filter-preface {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: var(--spacing-xs);
  border: 1px solid #000000;
  border-width: 0 1px 1px 0;
  background: #000000;
  color: #fff;
}

.weeks-filter-container,
.event-filter-container {
  display: flex;
  flex-grow: 1;
}

.filter-button {
  padding: var(--spacing-xs);
  border: 1px solid #000000;
  border-width: 0 1px 1px 0;
  transition: all 600ms;
  flex-grow: 1;
}

.filter-button span {
  white-space: nowrap;
}

.filter-button:hover,
.filter-button-active {
  background: #000000;
  color: #fff;
  box-shadow: 1px 0 1px #fff, -1px 0 1px #fff;
  transition: all 600ms;
}

.week-heading {
  color: #000000;
  font-size: calc(1rem + 3.5vw);
}

.calendar-week {
  display: flex;
  flex-wrap: wrap;
}

.performance-tile {
  width: 25%;
  padding: var(--spacing-md) var(--spacing-xs);
  padding-bottom: 0;
  margin-bottom: var(--spacing-md);
  border-bottom: 1px solid #000;
}

.tile-time-price-item p {
  display: inline-block;
}

.tile-time-price-item p::after {
  content: ',';
}

.tile-time-price-item p:last-of-type:after {
  content: '';
}

.tile-artist-container {
  margin-top: var(--spacing-sm);
  font-family: var(--secondary-font);
  font-size: calc(1rem + 0.5vw);
  font-weight: 600;
}

.tile-artist-container p {
  display: inline;
}

.tile-artist-container p::after {
  content: ', ';
}

.tile-artist-container p:last-of-type:after {
  content: '';
}

.tile-title {
  font-family: var(--secondary-font);
  margin-bottom: var(--spacing-sm);
  font-size: calc(1rem + 0.5vw);
  font-weight: 600;
}

.tile-location {
  display: block;
  width: 100%;
  text-align: center;
  border: 1px solid #000;
  border-bottom: none;
  padding: var(--spacing-xs);
}

.tile-time-price {
  display: flex;
  width: 100%;
  border: 1px solid #000;
  border-width: 1px 0 0 1px;
  margin-bottom: var(--spacing-sm);
}

.tile-time-price-item {
  width: 50%;
  text-align: center;
  padding: var(--spacing-xs);
  border: 1px solid #000;
  border-width: 0 1px 1px 0;
  display: flex;
  justify-content: center;
  gap: var(--spacing-xs);
}

.tile-bottom {
  width: 100%;
  margin-top: var(--spacing-sm);
  display: flex;
  align-items: center;
  padding-bottom: var(--spacing-md);
}

.tile-bottom .secondary-button,
.tile-bottom .calendar-btn,
.performance-ticket-btn-container .secondary-button,
.performance-ticket-btn-container .calendar-btn {
  margin-bottom: 0;
  width: 50%;
}

.tile-bottom .calendar-btn,
.performance-ticket-btn-container .calendar-btn {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 780px) {
  .filter-container {
    display: flex;
    border: none;
    gap: var(--spacing-sm);
    align-items: flex-start;
  }

  .weeks-filter-container,
  .event-filter-container {
    flex-direction: column;
    gap: var(--spacing-sm);
  }

  .filter-button {
    border: 1px solid #000000;
  }

  .performance-tile {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .home-hub-locations {
    flex-direction: column;
  }

  .home-hub-locations > div {
    width: 75%;
  }

  .performance-tile {
    width: 100%;
  }

  .tile-bottom {
    align-items: stretch;
  }

  .prev-button,
  .next-button {
    border: 1px solid #000;
    height: 20px;
    width: 20px;
  }

  .hero-svg {
    stroke-width: 1;
  }
}

/*
--------
MODULE CONTENT
--------
*/

.module-content-container {
  margin: var(--spacing-lg) 0;
}

.module-image-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-sm);
  flex-wrap: wrap;
  padding: var(--spacing-lg) 0;
}

.module-image-container figcaption,
.module-video figcaption,
.artist-image-container figcaption {
  margin-bottom: var(--spacing-sm);
  padding-top: var(--spacing-xs);
  font-size: 80%;
}

.module-video {
  padding: var(--spacing-lg) 0;
}

.module-video-container {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
}

.single-col-image {
  width: 100%;
}

.two-col-image {
  width: calc(50% - var(--spacing-sm));
}

.module-video-player {
  position: absolute;
  top: 0;
  left: 0;
}

.module-video-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 600ms 2s, transform 600ms;
}

.module-video-img {
  height: 100%;
  width: 100%;
}

.hide-video-cover {
  opacity: 0;
  transform: translateX(200%);
  transition: opacity 600ms, transform 600ms 2s;
}

.module-play-btn {
  width: clamp(25px, 10%, 80px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.module-play-btn svg {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .two-col-image {
    width: 100%;
    margin-top: var(--spacing-lg);
  }
}

.artists-header {
  font-size: 14.25vw;
  transform-origin: bottom;
}

.about-header {
  font-size: clamp(20px, 8vw, 200px);
  transform-origin: bottom;
}

.faq-header {
  font-size: clamp(20px, 5.25vw, 200px);
  transform-origin: bottom;
}

.supporter-header {
  font-size: clamp(20px, 13.25vw, 400px);
  transform-origin: bottom;
}

.hub-header {
  font-size: clamp(20px, 19vw, 475px);
  transform-origin: bottom;
}

.pavilion-header {
  font-size: clamp(20px, 16.5vw, 412px);
  transform-origin: bottom;
}

.protest-header {
  font-size: clamp(20px, 5.75vw, 412px);
  transform-origin: bottom;
}

.protest-sub-header {
  text-transform: uppercase;
  font-family: var(--primary-font);
  font-size: clamp(20px, 3.75vw, 412px);
  text-align: center;
  margin-bottom: var(--spacing-md);
  transform: scaleY(2);
}

.artists-container {
  display: flex;
  gap: 3vw;
  margin-top: var(--spacing-lg);
  padding: var(--spacing-lg) 3vw;
  flex-wrap: wrap;
}

.artist-item {
  width: calc(33.3% - 2vw);
}

.artist-item-image {
  aspect-ratio: 1 / 1;
  min-width: 100%;
}

.artist-item-name {
  font-size: calc(1rem + 2vw);
  margin-top: var(--spacing-sm);
  color: var(--accent-color);
  font-weight: 600;
}

.artist-item-title {
  margin-top: var(--spacing-xs);
  font-family: var(--secondary-font);
  font-size: calc(1rem + 0.5vw);
}

@media screen and (max-width: 900px) {
  .artist-item {
    width: calc(50% - 2vw);
  }
}

@media screen and (max-width: 600px) {
  .artist-item {
    width: 100%;
  }
}

.flex-page-container {
  width: 96vw;
  margin: 0 auto;
  margin-bottom: var(--spacing-lg);
}

.headline-text-container {
  width: clamp(200px, 96vw, 1000px);
  margin: 0 auto;
  margin-bottom: var(--spacing-md);
}

.headline-text-container p {
  margin-bottom: var(--spacing-md);
}

.extra-top-margin {
  margin-top: var(--spacing-xl);
}

.extralg-top-margin {
  margin-top: calc(var(--spacing-xl) + 4vw);
}

.max-width {
  width: clamp(200px, 96vw, 1000px);
  margin: 0 auto;
  margin-bottom: var(--spacing-md);
}

.member-grid {
  border-bottom: 1px solid #000;
  margin-bottom: var(--spacing-lg);
  width: 80%;
}

.member-container {
  border: 1px solid #000;
  border-width: 1px 0 0 1px;
}

.team-header {
  display: flex;
  width: 100%;
  text-align: left;
  align-items: stretch;
  transition: all 600ms;
}

.team-header:hover,
.team-header-open {
  color: var(--background-color);
  background: var(--accent-color);
  transition: all 600ms;
}

.team-name {
  font-family: var(--secondary-font);
}

.team-name,
.team-position {
  padding: var(--spacing-xs) var(--spacing-sm);
  width: 50%;
  border: 1px solid #000;
  border-width: 0 1px 0 0;
  display: flex;
  align-items: center;
}

.team-border-bottom {
  border-bottom: 1px solid #000;
}

.team-body {
  padding: 0 var(--spacing-sm);
  opacity: 0;
  border-right: 1px solid #000;
  transition: all 600ms;
  max-height: 0;
  overflow: hidden;
}

.team-show {
  padding: var(--spacing-sm);
  opacity: 1;
  max-height: 600px;
  transition: all 600ms;
}

.team-email {
  font-family: var(--secondary-font);
}

.team-bio {
  margin: var(--spacing-sm) 0;
}

.support-page .module-image-container {
  padding-top: 0;
  align-items: center;
  justify-content: flex-start;
}

.support-page .lead-supporter-logo {
  width: 20%;
  margin: 0 10px;
}

.support-page .program-supporter-logo {
  width: 15%;
  margin: 0 10px;
}

@media screen and (max-width: 600px) {
  .support-page .lead-supporter-logo {
    width: 40%;
    margin-bottom: 3vw;
  }

  .support-page .program-supporter-logo {
    width: 20%;
    margin: 0 5px;
    margin-bottom: 3vw;
  }

  .member-grid {
    width: 100%;
  }

  .team-name {
    width: 40%;
  }

  .team-position {
    width: 60%;
  }
}

.module-slider-container {
  width: 100%;
  position: relative;
}

.module-slide-container {
  position: relative;
  width: 100%;
}

.module-slider-container-in-text {
  position: relative;
  width: clamp(200px, 96vw, 1000px);
  margin: 0 auto;
}

.module-slide-image {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.home-slider-text-module {
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 100;
}
